nav {
  height: 50px;
  background-color: lightgrey;
}

/* target the class of inline-block below */
.inline-block {
  display: inline-block;
  padding: 15px;
}

/* target the class of .left below */
.left {
  height: 500px;
  width: 30%;
  float: left;
  background-color: cornsilk;
}

/* target the class of .right below */
.right {
  height: 500px;
  width: 70%;
  float: left;
  background-color: bisque;
}
