@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Open+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

/* Header Styles */
.header {
  height: 250px;
  max-height: 500px;
  background-image: url(../images/upsBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#pageTopic {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
/* Primary Color */
.colorContainer {
  display: inline-block;
  margin: 15px;
}
.swatch {
  height: 200px;
  width: 170px;
  border: 1px solid black;
}
.hexCode {
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.darkBlue {
  background-color: #333366;
}
.darkGrey {
  background-color: #545454;
}
.lightGrey {
  background-color: #e3e3e3;
}
.white {
  background-color: #ffffff;
}
.lightBlue {
  background-color: #12a0f6;
}
.red {
  background-color: #f84848;
}
.orange {
  background-color: #fc7705;
}
.lightBlue {
  background-color: #13a0f6;
}
.lightGreen {
  background-color: #8abe48;
}
/* Typography CSS */
.type_container {
  display: inline-block;
  margin: 20px;
}
.light {
  font-weight: 300;
}
.large {
  font-size: 66px;
  margin-bottom: 15px;
  margin-top: 0;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.typography h1 {
  font-size: 50px;
  font-weight: 700;
}
.typography h2 {
  font-size: 42px;
  font-weight: 600;
}
.typography h3 {
  font-size: 34px;
  font-weight: 600;
}
.typography h4 {
  font-size: 26px;
}

/* UI Elements */
.button {
  display: inline-block;
  padding: 15px;
  margin: 15px;
  width: 150px;
  text-align: center;
  color: white;
  font-size: 14px;
}
.primary {
  background-color: #2b459a;
}
.success {
  background-color: #8abe48;
}
.danger {
  background-color: #f84848;
}
.warning {
  background-color: #fc7705;
}
.info {
  background-color: #0099fa;
}
.primaryActive {
  background-color: #3a66b7;
}
.successActive {
  background-color: #668c35;
}
.dangerActive {
  background-color: #ad4848;
}
.warningActive {
  background-color: #ba7a43;
}
.infoActive {
  background-color: #4386ba;
}
.sectionHead {
  border-bottom: 8px solid #dddddd;
}
